.box {
	border: 1px solid $black40;
	min-height: 255px;
	box-shadow: 0px 0px 2px 2px $black30;
	border-radius: 5px;
	margin-bottom: 20px;
	background: white;
}

.box__content {
	padding: 10px;
}

.box__img {
	margin-bottom: 5px;

	img {
		width: 100%;
		height: 120px;
		margin: 0;
		border-radius: 5px;
	}
}

.box__button {
	width: 100%;
}

.box__button--blue {
	background: $link;
	padding: 10px;
	color: white;
	border: 0;
}

.box__button--disabled {
	background: $black40;
	padding: 10px;
	color: white;
	border: 0;
}