/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.content {
    position: relative;
    width: 90%;
    margin: auto;

    @media #{$medium} {
        width: calc(100% - 500px);
        margin-left: 100px;
    }
}

.shop {

}

.sidebar {
    float: right;
    position: fixed;
    top: 4px;
    height: 100%;
    width: 100%;
    padding: 60px 20px 0 20px;
    right: 0;
    
    @media #{$medium} {
        right: 100px;
        width: 300px;
    }
}

.order {
    background: white;
    position: relative;
}

.order__title {
    position: absolute;
    top: 0;
    border-bottom: 1px solid grey;
    width: 100%;

    h3 {
        margin: 0;
        padding: 5px;
    }
}

.order__items {
    position: relative;
    left: 0;
    top: 50px;

    li {
        border-bottom: 1px solid grey;
        padding: 5px;
    }
}

.order__price {
    position: absolute;
    right: 0;
    top: 30px;
}

.order__total {
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    padding: 5px;
}

.order__total__price {
    position: absolute;
    right: 0;
    top: 0;

    &:before {
        content: 'Rp ';
    }
}

.order__items__item {
    font-weight: bold;
    text-align: left;
}

.order__items__price {
    position: absolute;
    right: 0;

    &:before {
        content: 'Rp ';
    }
}

// 3 Header 
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //